<%- include('./partials/navigation.ejs') %>
<div>
  <h1>Book Details</h1>
  <p>Title: <%= book.title %></p>
  <p>Publishing Year: <%= book.publishingYear %></p>
  <p>Author ID: <%= book.authorId %></p>
</div>
